<header>
    <h1>Haha</h1>
</header>

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <% if(currentUser){ %>
        <a href="/logout">Logout</a>
    <% }else{ %>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
   <% } %>
</nav>